:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(9, 9, 9, 0.87);
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --text-color: #fafafa;
    --night-color: #0c0f0a;
}

html,
body {
    min-height: 100%;
}

body {
    background: url('/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg')
        no-repeat center;
    background-size: cover;
}

body,
div,
form,
input,
select,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

img {
    width: 100%;
    height: auto;
}

.nav-container {
    display: flex;
    flex-wrap: no-wrap;
    background-color: var(--night-color);
    justify-content: end;
    margin: 5px 5px;
    padding: 8px;
}

.nav-container > li {
    font-family: Monospace;
    font-size: 1.6rem;
    list-style-type: none;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: font-size, color 0.3s ease-out;
}

a {
    color: #fff;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    transition: font-size, color 0.3s ease-out;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgba(9, 0, 0, 0.27);
}

a:active {
    text-decoration: none;
}

.nav-container > li > a:hover,
.nav-container > li:hover {
    color: rgba(218, 215, 215, 0.979);
}

h1 {
    font-size: 3.2em;
    color: var(--night-color);
    line-height: 1.1;
    text-align: center;
    margin-top: 15px;
    font-weight: 550;
    transition: all 0.2s ease-in;
}

h2 {
    font-size: 2.2em;
    color: var(--night-color);
    text-align: center;
    text-transform: uppercase;
    margin: 20px 10px;
    transition: all 0.2s ease-in;
}

h3 {
    font-size: 1.2em;
    color: var(--night-color);
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    transition: all 0.2s ease-in;
}
.visible {
    opacity: 0;
    height: 0;
}

#logout {
    flex-grow: 3;
    display: none;
}

/* ============= Form stylings ======================= */
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 25px;
    background: #ff206e;
}

.left-part h1 {
    font-size: 3vw;
}

form h2 {
    color: var(--text-color);
    font-size: 2vw;
}
.left-part,
form {
    padding: 25px;
}
.left-part {
    text-align: center;
}
.fa-graduation-cap {
    font-size: 72px;
}
form {
    background: var(--night-color);
}
.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info {
    display: flex;
    flex-direction: column;
}
input,
select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}
input::placeholder {
    color: #eee;
}
option:focus {
    border: none;
}
option {
    background: var(--night-color);
    border: none;
}
.checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #fbff12;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color: var(--night-color);
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #e7e8c2;
}
@media (min-width: 568px) {
    html,
    body {
        height: 100%;
    }
    .main-block {
        flex-direction: row;
        height: calc(100% - 50px);
    }
    .left-part,
    form {
        flex: 1;
        height: 100%;
        overflow-y: scroll;
        scrollbar-color: rgb(57, 54, 59) rgb(247, 249, 247);
        scrollbar-width: auto;
    }
}

/* =======  Form validation stylings ========== */
input {
    transition: border-color 0.5s ease-out;
}

input:optional {
    border: 1px solid #172c38;
}

input:required:valid {
    border: 2px solid green;
    border-bottom-width: 1px;
}

input:focus:invalid {
    background: url('https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg')
        no-repeat 95% 50% #df8b78;
    background-size: 25px;
}

input:focus:out-of-range {
    background: #df8b78;
}

/* ======= End Form validation stylings ========== */

/* ============= End of Form Stylings ================ */

/* =========== Table Stylings ======================== */
.container {
    position: relative;
}

.close {
    display: block;
    width: 40px;
    padding: 8px;
    border-radius: 3px;
    margin-right: 20vw;
    margin-left: auto;
    margin-bottom: -35px;
}

.sortable {
    position: relative;
    z-index: 999;
    margin-bottom: 10px;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 35px auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

thead {
    background-color: var(--night-color);
    color: #ffffff;
}
th {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    font-weight: 550;
}

th a > span {
    float: right;
}
th a:hover {
    color: rgb(255, 255, 255);
}

tbody tr:nth-child(odd) {
    background: #f5f4f4;
    color: var(--night-color);
}

tbody tr:nth-child(even) {
    background: #444444;
}

tbody tr:hover:nth-child(odd) {
    background: #d8d9da;
}

tbody tr:hover:nth-child(even) {
    background: #0e0e0f;
}

td {
    padding: 5px;
}
/* ============ End Table Stylings ========== */

/* ------------------------- Media Queries ------------------------------------------------------------------ */

/* ========= Media Transforms  ============= */
@media screen and (max-width: 450px) {
    .event-description {
        width: 375px;
        height: 375px;
        font-size: 0.4rem;
    }

    .nav-container li {
        font-size: 0.9rem;
    }

    .form {
        width: auto;
    }

    .sortable {
        width: auto;
        max-width: 900px;
    }
}
